.container {
    h2 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 900;
    }
    img {
      width: 100%;
    }
    p {
      font-size: 30px;
      padding: 30px;
      vertical-align: middle;
      text-align: center;
      background: #1f4175;
      color: #ffe559;
      border-radius: 7px;
    }
  }

  @media screen and (max-width: 500px) {
    .container {
        padding: 0;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
          border-radius: 0;
          padding: 30px 10px;
        }
      }

  }