.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(213, 243, 253);
  border-radius: 0 0 10px 10px;
  height: fit-content;
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      width: 90px;
      height: 90px;
      margin-right: 2vw;
    }
    h1 {
      font-weight: 900;
      white-space: nowrap;
      color: #000;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .logo {
      z-index: 10;
      img {
        width: 50px;
        height: 50px;
      }
      h1 {
        font-size: 20px;
      }
    }
  }
}
