.container {
  padding: 0 10px 0 10px;
  h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 35px;
    position: relative;
    &::after {
      content: "";
      width: 100px;
      height: 3px;
      background: #000;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
  p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  ul {
    margin-left: 2vw;
    li {
      // list-style-type: none;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
      a{
        text-decoration: none;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container{
      padding: 5px;
      ul{
        padding-left: 10px;
      }
  }
}