.container {
  padding: 0 10px 0 10px;
  // flex: 1 0 auto;
  // height: auto;
  h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 35px;
    position: relative;
    &::after {
      content: "";
      width: 100px;
      height: 3px;
      background: #000;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
  ul {
    li {
      list-style-type: none;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: #000;
      }
    }
    :nth-child(1) {
      margin-left: 15px;
    }
    :nth-child(2) {
      margin-left: 30px;
    }
    :nth-child(3) {
      margin-left: 45px;
    }
    :nth-child(4) {
      margin-left: 60px;
    }
    :nth-child(5) {
      margin-left: 75px;
    }
    :nth-child(6) {
      margin-left: 90px;
    }
    :nth-child(7) {
      margin-left: 105px;
    }
  }
}

@media screen and (max-width: 500px) {
  .container{
      padding: 5px;
  }
}